/*--------------------------Fonts------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* -------------------sass background colors-------------------*/

$header-color: rgb(208, 140, 21);
$main-color: rgb(22, 145, 116);
$aside-color: rgb(110, 91, 186);
$footer-color: rgb(234, 111, 105);



/*--------------------------HTML------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
}


.container >*{
    box-shadow: -1px 1px 7px 0px rgba( 0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}


.header{
    grid-area: header;
    background-color: $header-color;
}

.main{
    grid-area: main;
    background-color: $main-color;

}

.aside{
    grid-area: aside;
    background-color: $aside-color;
}


.footer{
    grid-area: footer;
    background-color: $footer-color;
}




/*--------------------------Grid layout------------------------*/
.container {
    display: grid;
    gap: 10px;
    grid-template: "header"     20vh
                    "aside"     30vh
                    "main"      70vh
                    "footer"   10vh /
                    auto;
}       




/*-------------------@mediaQuerys*------------------------------*/

@media (min-width: 600px) {
    /*--------------------------Grid layout------------------------*/
.container {
    display: grid;
    grid-template: 
                    "header header header"      50vh
                    "main   main    aside"      30vh
                    "footer footer  aside"      20vh /
                    
                    auto    auto    auto;
}
}